:root{
  --text-color : #FFD371;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--text-color);
  background: rgba(63, 44, 65, 1.0);
background: -webkit-linear-gradient(right, rgba(63, 44, 65, 1.0), rgba(92, 82, 127, 1.0));
background: -moz-linear-gradient(right, rgba(63, 44, 65, 1.0), rgba(92, 82, 127, 1.0));
background: linear-gradient(to left, rgba(63, 44, 65, 1.0), rgba(92, 82, 127, 1.0));
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

